In [1]:
import json
import pandas as pd

In [2]:
import os
os.getcwd()

'c:\\Users\\felix\\Documents\\School\\Ryerson\\MRP\\mrp_files'

In [3]:
grades_raw = open("grades_data.json")
code_raw = open("programming_data.json")

In [4]:
grades_raw = json.load(grades_raw)
code_raw = json.load(code_raw)

In [5]:
df_grades = pd.json_normalize(grades_raw)
df_code = pd.json_normalize(code_raw)

In [6]:
df_grades.head()

,exam_week,academic_year_1,academic_year_0,module,grade,user
0,12,2016,2015,ca114,40,e45f938b-9d5c-4838-86ce-0755e3c97053
1,12,2016,2015,ca114,60,91b06877-f0e0-4af9-bbd4-b20ffa90e36b
2,12,2016,2015,ca114,60,b9e7e608-6036-4d44-8770-a7036176b53c
3,12,2016,2015,ca114,100,78cd7f00-c86a-46a4-ab20-040f317a60ca
4,12,2016,2015,ca114,60,80965c2d-45d9-440d-b3c3-403c112145e9

In [7]:
df_code.head()

,academic_year_1,task,user,extension,ip,date,academic_year_0,upload,module,correct
0,2017,add.py,b9e7e608-6036-4d44-8770-a7036176b53c,py,,2016-09-19 14:11:41,2016,#!/usr/bin/env python\n\na = int(raw_input())\...,ca277,True
1,2017,concat-lines.py,b9e7e608-6036-4d44-8770-a7036176b53c,py,,2016-09-19 14:17:33,2016,#!/usr/bin/env python\n\na = str(raw_input())\...,ca277,True
2,2017,goodbye.py,b9e7e608-6036-4d44-8770-a7036176b53c,py,,2016-09-19 10:15:59,2016,"#!/usr/bin/env python\n\nprint ""Goodbye""\n",ca277,True
3,2017,less-than.py,b9e7e608-6036-4d44-8770-a7036176b53c,py,,2016-09-19 14:14:22,2016,#!/usr/bin/env python\n\na = int(raw_input())\...,ca277,True
4,2017,longest-line.py,b9e7e608-6036-4d44-8770-a7036176b53c,py,,2016-09-19 14:51:28,2016,#!usr/bin/evn python\n\na = raw_input()\nb = r...,ca277,True

In [8]:
df_code.shape

(591707, 10)

In [9]:
df_grades.shape

(2774, 6)